// Typography
$font-family-sans-serif: 'Noto Serif', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.1;

// Colors
$primary: #FAC05E;
$secondary: #EE6352;
$dark: #1b1b1b;
$light: #E5EAFA;
$danger: #A31621;
