// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #bb86fc;
$primary-variant: #3700b3;
$secondary: #03dac6;
$secondary-variant: #018786;
$error: #cf6679;
$surface: #121212;
$background: #121212;
$on-secondary: #000000;
$on-primary: #000000;
$on-error: #000000;
$on-background: #ffffff;
$on-surface: #ffffff;

