// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: $secondary;
}

.background-image {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    height: 100vh;
}


.content {
    position: absolute;
    left: 50%;
    top: 80vh;
    cursor: pointer;
      transform: translate(-50%, -50%);
    
    p {
      margin: 0 0 20px;
    }
    
  }
  
  /* Arrow & Hover Animation */
  #more-arrows {
    width: 75px;
    height: 65px;
    
    &:hover {
      
      polygon {
        fill: $primary;
        transition: all .2s ease-out;
  
        &.arrow-bottom {
          transform: translateY(-18px);
        }
  
        &.arrow-top {
          transform: translateY(18px);
        }
        
      }
    
    }
    
  }
  
  polygon {
    fill: $primary;
    transition: all .2s ease-out;
      
    &.arrow-middle {
        opacity: 0.75;
      }
  
      &.arrow-top {
        opacity: 0.5
      }
       
  }

